body {
  background: #3B3A34;
  font-family: "Helvetica", "Tahoma", "Open Sans";
}

#main, #main > div {
  background: #FAF6DF;
  color: #3B3A34;
}

#main {
  border-radius: 2px;
  border: 10px #3B3A34 solid;
  margin-top: 80px;
  padding: 10% 10%;
}

#login_form {
  margin-top: 60px;
}

h1 {
  margin-bottom: 0;
  border-bottom: 2px #3B3A34 solid;
}

h4 {
  font-weight: lighter;
}

#butt_login {
  float: right;
}

.logo img {
  border: 10px #3B3A34 solid;
  width: 300px;
  margin-left: 100%;
}

#adviser {
  border: 5px #FAF6DF solid;
  margin: 0 45%;
  width: 10%;
}

.navbar-default {
  background: #FAF6DF;
  border-radius: 0;
}
