body {
  font-family: "Helvetica", "Tahoma", "Open Sans";
}

#main, #main > div {
  background-color: #434f9e;
  color: white;
}

#main {
  borde-radius: 5px;
  margin-top: 80px;
  padding: 5% 10%;
}

#login_form {
  margin-top: 60px;
}

h1 {
  margin-bottom: 0;
}
