body {
  background: #3B3A34;
  font-family: "Helvetica", "Tahoma", "Open Sans";
}

#main, #main > div {
  background: #FAF6DF;
  color: #3B3A34;
}

#main {
  border-radius: 2px;
  margin-top: 80px;
  padding: 10% 10%;
}

#login_form {
  margin-top: 60px;
}

h1 {
  margin-bottom: 0;
  border-bottom: 2px #3B3A34 solid;
}

h4 {
  font-weight: lighter;
}

#butt_login {
  float: right;
}

.logo img {
  border: 10px #3B3A34 solid;
  border-radius: 2px;
  width: 300px;
  margin-left: 100%;
}

#adviser {
  border: 5px #FAF6DF solid;
  border-radius: 2px;
  margin: 0 45%;
  width: 10%;
}

#adviser.big {
  margin: 0 40%;
  width: 20%;
}

.navbar-default {
  background: #FAF6DF;
  border: 1px solid #BAB7A6;
  border-radius: 0;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
  background-color: #BAB7A6;
}

#textid {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all .2s ease-in-out;
}

.textid {
  display: inline-block;
  margin: 0 auto;
  position:relative;
  padding: 0px;
}

#select_files img.file {
  border: 5px #3B3A34 solid;
  margin: 5px;
  width: 150px;
}

#select_files img.file:hover {
  cursor: pointer;
  z-index:100;
  transform: scale(2.1);
}

#import {
  margin: 50px 40%;
}

.important_1 {
  background-color: #FFAAAA;
}

.important_2 {
  background-color: #FFAAAA;
}

.important_3 {
  background-color: #FFAAAA;
}

.important_4 {
  background-color: #D46A6A;
}

.important_5 {
  background-color: #D46A6A;
}

.important_6 {
  background-color: #D46A6A;
}

.important_7 {
  background-color: #801515;
}
