.important_1 {
  background-color: #FFAAAA;
}

.important_2 {
  background-color: #FFAAAA;
}

.important_3 {
  background-color: #FFAAAA;
}

.important_4 {
  background-color: #D46A6A;
}

.important_5 {
  background-color: #D46A6A;
}

.important_6 {
  background-color: #D46A6A;
}

.important_7 {
  background-color: #801515;
}
