<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MimieMathiser — Accueil</title>

  <!-- Bootstrap -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Application -->
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html">MimieMathiser</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="menu-item-editor"><a href="editor.html">Éditeur</a></li>
      <li id="menu-item-load"><a href="select_files.html">Charger fichier</a></li>
    </ul>
  </div>
  </nav>

  <!-- Adviser -->
  <div id="body" class="container">
    <div class="row">
        <img id="adviser" class="big" src="../img/mimie-mathy-logo.jpg" />
    </div>
  </div>
<!-- jQuery -->
<script src="../lib/jquery/js/jquery-1.12.3.min.js"></script>
<!-- Bootstrap -->
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<!-- Adviser script -->
<script src="../js/adviser.js"></script>
</body>
</html>
