<!doctype HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>lorem ipsum</title>
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body style="color:#FAF6DF" oncontextmenu="return false">
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">MimieMathiser</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="editor.html">Éditeur</a></li>
          <li><a href="select_files.html">Sélection des fichiers</a></li>
        </ul>
      </div>
    </nav>

    <div>


      <div>
        <!--Colonne 2 -->
        <div class="container">
          <!---header-->
          <h1> Titre</h1>
          <a class="btn btn-primary" href="resume.html">Génerer résumé </a>
        </div>
        <div class="container">
          <div class="col-lg-11 context">
            <h1>Apprendre a planter des choux</h1>
            <p class="context">Le chou est un légume que l’on trouve sous de nombreuses variétés et très facile à cultiver. L’entretien, du semis et plantation à la récolte, vous aidera à avoir de magnifiques choux.</p>
            <h2>Semis, plantation des choux</h2>
            <p class="context">Le chou existe sous différente forme et exige des conditions et périodes de culture différentes.
            Qu’il soit à pomme, frisé ou lisse, de Bruxelle, choux-fleur ou brocoli, voici comment les cultiver.
            En sélectionnant et en semant différentes variétés, vous serez en mesure de récolter le chou du printemps jusqu’à la fin de l’hiver.</p>
            <h3>Le chou pommé</h3>
            <p class="context">Le semis du chou pommé s’effectue à la fin de l’hiver ou au début du printemps en pépinière.
            Le chou lisse peut commencer plus tôt que le chou frisé.</p>
            <h3>Le chou-fleur</h3>
            <p class="context">La culture du chou-fleur est beaucoup plus lente puisqu’elle près de 7 mois entre le semis et la récolte.</p>
            <h2>Après le semis,entretiens des choux</h2>
            <p class="context">Dès que les plants ont au minimum 3 à 4 feuilles, repiquez directement en place tout en protégeant votre culture si cette opération doit s’effectuer avant le mois de mai.</p>
            <ul class="context">
              <li>Le repiquage se fait tous les 40 cm. Cet espacement est nécessaire pour laisser aux plants la place de se développer.</li>
              <li>Repiquez dans un terre bien labourée.</li>
              <li>Arrosez régulièrement mais modérément en pluie fine de manière à maintenir une bonne humidité.</li>
            </ul>
            <h2>Récolte des choux</h2>
            <h3>Récolte du chou pommé</h3>
            <p class="context">Le chou pommé, qu’il soit frisé ou lisse, prend plusieurs mois mais la durée dépend énormément des variétés.
            Ainsi, certaines variétés pourront être récoltées 2 mois après plantation alors que d’autres mettront près de 7 moi.
            Attendez que le coeur ait atteint la taille d’une belle pomme avant de récolter vos choux pommés</p>
            <h3>Récolte du chou de Bruxelles</h3>
            <p class="context">Les choux de bruxelles se récolte au fur et à mesure de la montée de la tige principale.
            Il suffit de casser les choux qui poussent latéralement au fur et à mesure de vos besoins.</p>
            <h3>Récolte du chou-fleur </h3>
            <p class="context">Le récolte du chou-fleur a lieu pratiquement tout au long de l’année en fonction des périodes de semis.
            Attendez que la tête soit bien ferme et coupez à raz du sol.</p>
            <h3>Récolte du chou brocoli </h3>
            <p class="context">On récolte le chou brocoli lorsque la tête principal est bien formée et compact.
            Coupez à environ 5 cm en dessous de la tête afin de permettre à vos brocolis de continuer de pousser.</p>
            <h3>Récolte du chou chinois</h3>
            <p class="context">Elle a lieu de l’automne jusqu’aux premières gelées et même en hiver si les conditions climatiques le permettent (bassin méditerranéen)
            Couper la pomme à ras avec une lame bien tranchante.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div>

<script src="../lib/jquery/js/jquery-1.12.3.min.js"></script>
<!-- Bootstrap -->
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/selector.js"></script>
</body>
</html>
