<!doctype HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>lorem ipsum</title>
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body style="color:#FAF6DF">
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">MimieMathiser</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="editor.html">Éditeur</a></li>
          <li><a href="select_files.html">Sélection des fichiers</a></li>
        </ul>
      </div>
    </nav>

    <div>


      <div>
        <!--Colonne 2 -->
        <div class="container">
          <!---header-->
          <h1> Titre</h1>
        </div>
        <div class="container">
          <div class="col-lg-11 context">
            <h1>Apprendre a planter des choux</h1>
            <p class="context">Le chou est un légume que l’on trouve sous de nombreuses variétés et très facile à cultiver. L’entretien, du semis et plantation à la récolte, vous aidera à avoir de magnifiques choux.</p>
            <h2>Semis, plantation des choux</h2>
            <p class="context">Le chou existe sous différente forme et exige des conditions et périodes de culture différentes.</p>
            <h3>Le chou pommé</h3>
            <p class="context">
            Le chou lisse peut commencer plus tôt que le chou frisé.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div>

<script src="../lib/jquery/js/jquery-1.12.3.min.js"></script>
<!-- Bootstrap -->
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/selector.js"></script>
</body>
</html>
